.cache
.coverage
.DS_Store
.mypy*
*.pyc
__pycache__
.tox
*.egg-info
.pytest*
.hypothesis/
.python-version
.venv
.benchmarks/

build/
dist/

.idea
.vscode
pypi-notes
profile_rule.py
.claude
docs/_build/
